exportPattern(wiser)
#import(bnlearn)
#import(rhandsontable)
#import(shiny)
#import(shinydashboard)
#import(dplyr)
#import(visNetwork)
#import(shinyWidgets)
#import(missRanger)
#import(tools)
#import(shinyalert)
#import(shinycssloaders)
#import(rintrojs)
#import(arules)
#import(rcompanion)
#import(psych)
#import(DescTools)
#import(DT)
#import(linkcomm)
#import(igraph)
#import(parallel)
#import(snow)
#import(shinyBS)
